/* project-specific CSS belongs here */

.countries {
  fill : var(--grey-5);
}

.coastline {
  fill : transparent;
  stroke-width: 2;
  stroke : var(--blue-1);
}

.borders {
  fill : transparent;
  stroke : var(--grey-10);
}
